@import url("https://fonts.google.com/specimen/Outfit");

body {
  background: hsl(212, 45%, 89%);
  font-family: Outfit;
}

.main_container {
  display: flex;
  margin: auto;
  text-align: center;
  min-height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 261px;
  padding: 14px 0;
  border-radius: 9px;
  background: hsl(0, 0%, 100%);
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin: 10px;
  margin-bottom: 15px;
}
h1 {
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
}
img {
  width: 235px;
  border-radius: 5px;
}
